

h1{
    text-align: center;
}
.section{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding:10px ;
    flex-wrap: wrap;



}

.container{

    background-color: rgb(101, 182, 236);
     width:400px ;
    height: 170px;
    border: 1px solid black ;
    border-radius: 10px;
 
    box-shadow:5px 7px 9px -2px rgba(209,77,77,0.69);
-webkit-box-shadow: 5px 7px 9px -2px rgba(209,77,77,0.69);
-moz-box-shadow: 5px 7px 9px -2px rgba(209,77,77,0.69);
     padding: 20px;
      display: flex;
       gap:20px;
       align-items: center;
      
}

.foto{
    width:100px ;
    height: 100px;
    border-radius:50%;
   

}
.desk{
    text-align: justify;
}
.name-contact{
    text-align: center;

}
body{
    background-color: rgb(123, 160, 240);
}
@media screen and (max-width:860px){
   gap: 40;

 
   
}
